@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240, 33%, 98%;
        --foreground: 164 14% 21%;

        --card: 240, 20%, 99%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 226, 24%, 59%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 216, 45%, 90%;
        --barchart: 217, 50%, 97%;

        --palette-darkgrey: 167.14, 14%, 39.22%;
        --input: 15 90% 60%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
